h1 {
    font-size: 50px;
    text-align: center;
    margin-top: auto; 
    padding: 10px;
}

[id^="total"] {
    width: 65px;
}

@media (max-width: 768px){
    h1{
        font-size: 2.5vw;
    }
}

img{
    height: 100px;
    margin-right: 16px;
    margin-top: 16px;
    margin-left: 16px;
}

body {
    text-align: center;
}


input[type="number"] {
    width: 50px;
}


.container {
    text-align: center;
    margin-top: 50px;
    transform: scale(1.5);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
  }
  
  footer button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer button:hover {
    background-color: #3e8e41;
  }
  